 CreativeFlow.N8NWorkflowEngine/workflows/Sub_StabilityAI_Image.workflow.json
{
  "name": "Sub_StabilityAI_Image",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const params = items[0].json.parameters || {};\nconst prompt = items[0].json.prompt;\n\nconst text_prompts = [{ text: prompt }];\nif (params.negative_prompt) {\n  text_prompts.push({ text: params.negative_prompt, weight: -1.0 });\n}\n\nconst body = {\n  text_prompts,\n  cfg_scale: params.cfg_scale || 7,\n  height: params.height || 1024,\n  width: params.width || 1024,\n  samples: params.n_samples || 1,\n  steps: params.steps || 30,\n  seed: params.seed || 0\n};\n\nitems[0].json.requestBody = body;\nitems[0].json.engineId = params.engine_id || 'stable-diffusion-v1-6';\n\nreturn items;"
      },
      "name": "Prepare API Request",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "vaultSecretPath": "secret/creativeflow/ai_providers/stabilityai/api_key",
        "vaultSecretKey": "api_key",
        "apiUrl": "={{ 'https://api.stability.ai/v1/generation/' + $json.engineId + '/text-to-image' }}",
        "httpMethod": "POST",
        "body": "={{$json.requestBody}}",
        "apiKeyHeaderName": "Authorization",
        "apiKeyPrefix": "Bearer ",
        "options": {
          "retries": 2
        }
      },
      "name": "Call Stability AI API (Secure)",
      "type": "n8n-nodes-base.secureVaultApiCaller",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const response = items[0].json;\n\nif (!response.artifacts) {\n    throw new Error('Invalid response from Stability AI: ' + JSON.stringify(response));\n}\n\nconst result = {\n  status: 'success',\n  data: response.artifacts.map(art => ({ base64: art.base64, seed: art.seed }))\n};\n\nreturn result;"
      },
      "name": "Parse Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        920,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const error = items[0].json;\n\nconst result = {\n  status: 'error',\n  errorMessage: error.message || 'An unknown error occurred during Stability AI API call.'\n};\n\nreturn result;"
      },
      "name": "Format Error",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        920,
        500
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Prepare API Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare API Request": {
      "main": [
        [
          {
            "node": "Call Stability AI API (Secure)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Stability AI API (Secure)": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {}
}